@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
loginContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 2px solid #3498db; /* Blue border */
  width: 100%;
  height: 100vh;
  justify-content: center;
  /* Add animation to the background */
  background: linear-gradient(45deg, #3498db, #2ecc71); /* Gradient background */
  background-size: 400% 400%; /* Background size for animation */
  animation: gradientAnimation 10s infinite; /* Animation properties */
}


.loginContainer input,
.loginContainer button {
  width: 300px;
  height: 50px;
  border-radius: 8px;
  border: 2px solid #3498db; /* Blue border */
  margin: 10px;
  padding: 10px;
  font-size: 16px;
}

.loginContainer button {
  background-color: #3498db; /* Blue color */
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.loginContainer button:hover {
  background-color: #2980b9; /* Darker blue on hover */
}

DestinationForm{
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 2px solid #3498db; /* Blue border */
  width: 100%;
  height: 100vh;
  justify-content: center;
 

}


